
{% extends "home/base.html" %}
{% load static%}
{% block extralink %}
    <link href = "{% static "member.css"%}" rel='stylesheet'/>
{% endblock %}
{% block content %}
<section class="container">
          <div class="for-seo">
            <!-- <h1 class="entry-title">Company Profile</h1> -->
          </div>
          <h3>Fill The form for merchandise comparision</h3>
          <form method = 'POST'>
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" value="Submit" />
          </form>
        </section>
{% endblock %}